.header {
  background-color: #fff;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  .rightBox {
    -webkit-flex: auto;
    flex: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .full {
    padding: 0 24px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #d1e3fa;
    }
    .icon {
      font-size: 20px;
      padding: 4px;
    }
  }
  .userhead {
    padding: 0 20px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 20px;
    .username {
      font-size: 14px;
      margin-left: 4px;
    }
  }
}
.all_center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
