a {
  text-decoration: none;
  color: #1890ff;
}

img {
  vertical-align: middle;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}